$accent: rgb(77, 77, 77);
// $background-color: rgb(230, 255, 251);
// $pink-accent: rgb(131, 216, 202);
$font-size: 1.3rem;
$larger-size: 2rem;
$small-font: 1.2rem;
$background-color: rgb(255, 240, 246);
$pink-accent: rgb(255, 169, 205);
$mint-accent: rgb(199, 255, 246);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap');


body {
  font-weight: 400;
  color: $accent;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: $background-color;
}

main {
  width: 650px;
  max-width: 100%;
  margin: auto;
}

#content-wrapper {
  overflow: auto;
  height: 50vh;
  padding: 2rem 2.5rem;
  box-shadow: 2px 1px 1px 1px $pink-accent;
  border-radius: 10px;
  background-color: white;
  margin-top: -3rem;
  font-size: $font-size;
}


/*HEADER*/
header {
  text-align: center;
}

header h1 {
  font-weight: 600;
  font-size: 3.1rem;
  width: 100%;
  margin: 1rem 0;
  color: rgb(255, 174, 206);
  text-shadow: 1px 1px 1px rgb(119, 23, 63), 1px 1px 1px rgb(180, 65, 113), 1px 0 3px rgb(236, 148, 185),  1px 0 7px rgb(255, 168, 204);
}

#home-link {
  text-decoration: none;
}

#nav-wrapper {
  width: 650px;
  max-width: 100%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
  margin: 0 1.5rem;
}

.selected {
  font-size: $font-size;
  color: $mint-accent;
  text-shadow: 0px 0px 2px rgb(78, 175, 159), 1px 1px 2px rgb(90, 209, 189), 1px 1px 3px rgb(90, 209, 189);
  margin: 0 .4rem;
  transition: color 400ms, text-shadow 500ms;
}

.heart-placeholder {
  font-size: $font-size;
  color: $background-color;
  text-shadow: none;
  margin: 0 .4rem;
  transition: color 400ms, text-shadow 500ms;
  cursor: default;
}

#avatar {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  background-color: $mint-accent;
  z-index: 15;
  box-shadow: 2px 1px 1px 1px $pink-accent;
}

.link-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  font-size: $font-size;
  margin-top: -2rem;
}

.link {
  text-decoration: none;
  color: $accent;
  font-weight: 500;
}

.link:hover {
  background-size: 0 100%;
}

/*HOME*/

.centered-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
}

.centered-container h3 {
  font-weight: 500;
  margin: 0 0 1rem 0;
}

.centered-container p {
  margin-bottom: 0;
}

#greetings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#greetings span {
  // font-size: 1.5rem;
  // font-weight: 500;
}

footer {
  margin: 0 3rem;
  display: flex;
  justify-content: space-between;
}

.icons {
  width: 2.5rem;
  filter: opacity(80%);
}

.icons:hover {
  filter: opacity(100%);
}

/*projects*/
#project-container {
  font-size: $font-size;
}

#projects-h1 {
  font-size: $larger-size;
  font-weight: 300;
  margin: 0 0 2.5rem 0;
  // text-align: right;
}

.project-name {
  font-weight: 400;
  font-size: 1.6rem;
  border-radius: 3px;
  margin: 0;
}

.project-header span {
  font-weight: 500;
}

.name-icon-container {
  margin: 0 0 .5rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name-icon-container svg, .name-icon-container img, .centered-container svg {
  margin-left: .2rem;
  width: 30px;
  height: 30px;
  // border-radius: 50%;
  // box-shadow: 0 0 2px 1px pink;
}

#project-container p {
  margin: .5rem 0;
  font-size: $small-font;
}

.repo-demo-container {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-evenly;
}

.project {
  margin-bottom: 4rem;
}

.project a, .link-home {
  color: $accent;
  background-image: linear-gradient(transparent calc(100% - 2px),rgb(99, 235, 201)1px);
  text-decoration: none;
  background-size: 100% 100%;
  background-position: 100%;
  position: relative;
  background-repeat: no-repeat;
  transition: all .2s;
}

.project a:hover, .link-home:hover {
  background-size: 0 100%;
}

.emphasis {
  text-shadow: 0 0 2px rgb(109, 253, 234), 0 0 2px rgb(109, 253, 234), 0 0 4px rgb(148, 255, 241);
}

.emphasis a {
  color: $accent;
}

/* width */
#content-wrapper::-webkit-scrollbar {
  width: 15px;
}

/* Track */
#content-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px $pink-accent; 
  border-radius: 5px;
}
 
/* Handle */
#content-wrapper::-webkit-scrollbar-thumb {
  // background: rgb(255, 194, 219); 
  border-radius: 7px;
  background-color: #ffc2db;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.48' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

/* Handle on hover */
#content-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #ffcee2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.31' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

/* CONTACT */
.contact h3 {
  font-weight: 500;
  margin: 0 0 1rem 0;
}

.contact {
  font-size: 1.5rem;
}
@media (max-width: 650px) {
  header h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 425px) {
  header h1 {
    font-size: 2.2rem;
  }

  nav {
    margin: 0 1rem;
  }

  #avatar {
    height: 100px;
    width: 100px;
  }

  nav a {
    margin-top: -3rem;
    font-size: 1rem;
  }

 .heart-placeholder, .selected {
    font-size: .8rem;
  }

  #content-wrapper {
    margin-top: -2.5rem;
    height: 50vh;
    border: none;
    box-shadow: none;
  }

  #projects-h1 {
    margin: 1rem 0 1.5rem 0;
    font-size: 1.6rem;
  }

  #project-container h3 {
    font-size: 1.4rem;
  }

  #project-container p {
    font-size: 1rem;
  }

  #project-container a {
    font-size: 1.1rem;
  }

  #greetings span {
    font-size: 1.2rem;
  }

  .centered-container {
    font-size: 1rem;
  }
}

@media (min-height: 1430px) {
  #content-wrapper {
    height: 30vh;
  }
}